body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: aquamarine;
}

.load-spinner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

.main-footer {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    color: white;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
}